openapi: 3.1.0
info:
  title: There There API
  description: |
    REST API for There There, the AI-powered helpdesk. All endpoints require
    authentication via a Sanctum bearer token, and most require the
    `X-Workspace-Id` header to identify which workspace the request targets.

    Responses follow a consistent shape: single resources are returned under a
    `data` key; collections return `data` alongside `meta` and `links` for
    pagination.
  version: 1.0.0

servers:
  - url: https://there-there.app/api
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Me
  - name: Tickets
  - name: Ticket messages
  - name: Ticket tags
  - name: Ticket custom fields
  - name: Custom fields
  - name: Ticket activities
  - name: Contacts
  - name: Companies
  - name: Tags
  - name: Channels
  - name: Teams
  - name: Members
  - name: Quick replies
  - name: Saved views
  - name: Workflows
  - name: Brains
  - name: Brain articles

paths:
  /me:
    get:
      operationId: getMe
      tags: [Me]
      summary: Get authenticated user and workspace
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: The current user and workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      workspace:
                        $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /tickets:
    get:
      operationId: listTickets
      tags: [Tickets]
      summary: List tickets
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: filter[status]
          in: query
          schema: { type: string }
          description: Comma-separated status values (open, waiting, closed, spam).
        - name: filter[tag_ulids]
          in: query
          schema: { type: string }
          description: Comma-separated tag ULIDs.
        - name: filter[channel_ulids]
          in: query
          schema: { type: string }
          description: Comma-separated channel ULIDs.
        - name: filter[custom_fields][{customFieldUlid}]
          in: query
          schema: { type: string }
          description: >
            Comma-separated option ULIDs for the given custom field. Repeat the
            parameter with a different field ULID to narrow further: options of
            one field widen the result, separate fields narrow it. An option
            ULID that does not exist matches nothing rather than being ignored.
            Resolve both ULIDs with GET /custom-fields.
        - name: include
          in: query
          schema: { type: string, example: custom_fields }
          description: >
            Comma-separated extras to embed. `custom_fields` adds each ticket's
            custom field values, resolved once for the page. Opt-in, so payloads
            do not grow for integrations that do not ask.
        - name: filter[assigned_to_me]
          in: query
          schema: { type: boolean }
        - name: filter[unassigned]
          in: query
          schema: { type: boolean }
        - name: filter[assigned_user_ulid]
          in: query
          schema: { type: string }
        - name: filter[search]
          in: query
          schema: { type: string }
          description: Full-text search across subject, messages, and contact info.
        - name: q
          in: query
          schema: { type: string }
          description: Semantic search (requires AI to be enabled).
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, -created_at, updated_at, -updated_at, last_activity_at, -last_activity_at]
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTickets'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      operationId: createTicket
      tags: [Tickets]
      summary: Create a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel, subject, from_contact, message]
              properties:
                channel:
                  type: string
                  description: Channel ULID.
                subject:
                  type: string
                  maxLength: 255
                from_contact:
                  type: object
                  required: [email]
                  properties:
                    email: { type: string, format: email }
                    name: { type: string, nullable: true }
                message:
                  type: object
                  required: [body]
                  properties:
                    body:
                      type: string
                      description: HTML body of the first message.
                    attachment_ids:
                      type: array
                      maxItems: 10
                      items: { type: string, example: upl_screenshot_8f3c1a }
                      description: Upload tokens from POST /attachments. Embed a token as <img src="cid:TOKEN"> in the body to render it inline.
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
        '422':
          $ref: '#/components/responses/ValidationError'

  /custom-fields:
    get:
      operationId: listCustomFields
      tags: [Custom fields]
      summary: List custom field definitions
      description: >
        Every ticket custom field defined in the workspace, with its options.
        This is where an integration resolves a field or option name to the ulid
        the ticket endpoints expect. Read only: fields are defined in the app.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: Custom field definitions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CustomFieldDefinition' }

  /tickets/import:
    post:
      operationId: importTickets
      tags: [Tickets]
      summary: Import a historical ticket
      description: >-
        Backfills a past conversation with its original timestamps, status, and full
        message thread. Nothing is sent or triggered: no email, workflows, notifications,
        or automations run. Requires an admin token. Has its own rate limit of 300
        requests per minute, separate from the standard API limit.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel, subject, status, from_contact, messages]
              properties:
                channel:
                  type: string
                  description: Channel ULID.
                subject:
                  type: string
                  maxLength: 255
                status:
                  type: string
                  enum: [open, waiting, closed, spam]
                created_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: When the ticket was originally created. Must be in the past. Defaults to the earliest message.
                closed_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: When the ticket was resolved. Must be in the past. Used only when status is closed.
                external_id:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: Your own identifier for the ticket. Re-importing the same external_id returns the existing ticket.
                assignee_email:
                  type: string
                  format: email
                  nullable: true
                  description: Email of a workspace member to assign. Ignored unless it is an active member with access to the channel.
                tags:
                  type: array
                  maxItems: 50
                  items: { type: string }
                  description: Tag names to attach. A tag is created if it does not exist yet.
                from_contact:
                  type: object
                  required: [email]
                  properties:
                    email: { type: string, format: email }
                    name: { type: string, nullable: true }
                messages:
                  type: array
                  minItems: 1
                  maxItems: 200
                  description: The conversation, in chronological order.
                  items:
                    type: object
                    required: [type, body]
                    properties:
                      type:
                        type: string
                        enum: [inbound, outbound, note]
                      body:
                        type: string
                        description: HTML body of the message.
                      created_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: When the message was sent. Must be in the past. Defaults to the ticket created_at.
                      author_email:
                        type: string
                        format: email
                        nullable: true
                        description: Email of the agent who wrote an outbound message or note.
                      author_name:
                        type: string
                        nullable: true
                        description: Display name of that agent, used when author_email is not a workspace member.
                      external_id:
                        type: string
                        nullable: true
                        maxLength: 255
                        description: Your own identifier for the message, stored for correlation.
                      attachment_ids:
                        type: array
                        maxItems: 10
                        items: { type: string, example: upl_screenshot_8f3c1a }
                        description: Upload tokens from POST /attachments. Embed a token as <img src="cid:TOKEN"> in the body to render it inline.
      responses:
        '201':
          description: Ticket imported
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /attachments:
    post:
      operationId: uploadAttachment
      tags: [Ticket messages]
      summary: Upload a file and receive a single-use token
      description: >-
        Streams a file to storage and returns an opaque token. Reference the token in
        a message's attachment_ids (and, for inline images, embed it in the body as
        <img src="cid:TOKEN">). Tokens are single-use, scoped to the creating API token,
        and deleted ~30 minutes after upload if not used. Max 25 MB per file.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        '201':
          description: File parked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PendingAttachment' }
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: Upload rate limit or per-workspace parked cap exceeded

  /attachments/{media}:
    get:
      operationId: downloadAttachment
      tags: [Ticket messages]
      summary: Download an attachment or inline image
      description: >-
        Returns the file itself, served inline under its own content type. The url and
        download_url on a message's attachments and inline_images point here whenever the
        ticket was fetched with an API token, so use those values rather than building
        this URL yourself. Files kept on object storage answer with a redirect to a
        short-lived storage URL, so follow redirects. No X-Workspace-Id header is needed:
        the workspace is derived from the file.
      parameters:
        - name: media
          in: path
          required: true
          description: ULID of the file, taken from a message's attachments or inline_images.
          schema: { type: string }
        - name: download
          in: query
          required: false
          description: Set to 1 to receive a Content-Disposition attachment header instead of an inline one.
          schema: { type: boolean }
      responses:
        '200':
          description: The file
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '302':
          description: Redirect to a short-lived object storage URL
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket}:
    get:
      operationId: showTicket
      tags: [Tickets]
      summary: Show a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      responses:
        '200':
          description: Ticket with messages and activities
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TicketDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket}/status:
    put:
      operationId: updateTicketStatus
      tags: [Tickets]
      summary: Change ticket status
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, waiting, closed, spam]
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/assignee:
    put:
      operationId: updateTicketAssignee
      tags: [Tickets]
      summary: Assign a user to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_ulid:
                  type: string
                  nullable: true
                  description: User ULID, or null to unassign.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/team:
    put:
      operationId: updateTicketTeam
      tags: [Tickets]
      summary: Assign a team to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                team_ulid:
                  type: string
                  nullable: true
                  description: Team ULID, or null to unassign.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/channel:
    put:
      operationId: updateTicketChannel
      tags: [Tickets]
      summary: Move a ticket to another channel
      description: >
        Moves the ticket to another email channel in the same workspace. Anyone
        without access to the target channel is unassigned and removed as a
        watcher. Support bubble conversations cannot be moved, and support
        bubble channels cannot be moved into.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel_ulid]
              properties:
                channel_ulid:
                  type: string
                  description: ULID of the channel to move the ticket to.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
        '422':
          description: The channel is not accessible, or the ticket cannot be moved.

  /tickets/{ticket}/reply:
    post:
      operationId: replyToTicket
      tags: [Ticket messages]
      summary: Reply to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
                to_recipients:
                  type: array
                  items: { type: string, format: email }
                cc_recipients:
                  type: array
                  items: { type: string, format: email }
                bcc_recipients:
                  type: array
                  items: { type: string, format: email }
                attachment_ids:
                  type: array
                  maxItems: 10
                  items: { type: string, example: upl_screenshot_8f3c1a }
                  description: Upload tokens from POST /attachments. Embed a token as <img src="cid:TOKEN"> in the body to render it inline.
      responses:
        '201':
          description: Message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/forward:
    post:
      operationId: forwardTicket
      tags: [Ticket messages]
      summary: Forward a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body, to_recipients]
              properties:
                body: { type: string }
                to_recipients:
                  type: array
                  minItems: 1
                  items: { type: string, format: email }
                cc_recipients:
                  type: array
                  items: { type: string, format: email }
                bcc_recipients:
                  type: array
                  items: { type: string, format: email }
                forwarded_from_message_ulid:
                  type: string
                  nullable: true
                  description: ULID of the message being forwarded.
                attachment_ids:
                  type: array
                  maxItems: 10
                  items: { type: string, example: upl_screenshot_8f3c1a }
                  description: Upload tokens from POST /attachments. Embed a token as <img src="cid:TOKEN"> in the body to render it inline.
      responses:
        '201':
          description: Forward message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/note:
    post:
      operationId: addNoteToTicket
      tags: [Ticket messages]
      summary: Add an internal note
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
                attachment_ids:
                  type: array
                  maxItems: 10
                  items: { type: string, example: upl_screenshot_8f3c1a }
                  description: Upload tokens from POST /attachments. Embed a token as <img src="cid:TOKEN"> in the body to render it inline.
      responses:
        '201':
          description: Note message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/tags/{tag}:
    post:
      operationId: addTagToTicket
      tags: [Ticket tags]
      summary: Add a tag to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - name: tag
          in: path
          required: true
          schema: { type: string }
          description: Tag ULID.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
    delete:
      operationId: removeTagFromTicket
      tags: [Ticket tags]
      summary: Remove a tag from a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - name: tag
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Tag removed

  /tickets/{ticket}/custom-fields/{customField}:
    put:
      operationId: setTicketCustomField
      tags: [Ticket custom fields]
      summary: Set a custom field on a ticket
      description: >
        Replaces the ticket's value for one custom field. Send `value` for a text
        field and `option_ulids` for the two select types; sending both, or the
        wrong one for the field's type, is a validation error. An empty `value`
        and an empty `option_ulids` clears the field. Returns 404 when the field
        belongs to another workspace or is not available on the ticket's channel.
        Read the current values from GET /tickets/{ticket}, which returns the
        fields that apply to the ticket whether or not they hold a value.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - name: customField
          in: path
          required: true
          schema: { type: string }
          description: Custom field ULID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value, option_ulids]
              properties:
                value:
                  type: string
                  nullable: true
                  description: The text for a text field, or null. Must be null for select fields.
                  example: 1.2.3
                option_ulids:
                  type: array
                  items: { type: string }
                  description: >
                    The option ULIDs that should end up selected, which replaces the
                    current selection rather than adding to it. At most one for a
                    single-select field. Must be empty for text fields.
      responses:
        '200':
          description: Updated ticket, including its custom fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tickets/{ticket}/activities:
    get:
      operationId: listTicketActivities
      tags: [Ticket activities]
      summary: List ticket activities
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivities'

  /contacts:
    get:
      operationId: listContacts
      tags: [Contacts]
      summary: List contacts
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: filter[name]
          in: query
          schema: { type: string }
        - name: filter[email]
          in: query
          schema: { type: string }
        - name: filter[search]
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, created_at, -created_at, last_activity, -last_activity]
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContacts'
    post:
      operationId: createContact
      tags: [Contacts]
      summary: Create a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Contact created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }

  /contacts/{contact}:
    get:
      operationId: showContact
      tags: [Contacts]
      summary: Show a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      responses:
        '200':
          description: Contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }
    put:
      operationId: updateContact
      tags: [Contacts]
      summary: Update a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                notes: { type: string, nullable: true }
                company_ulid:
                  type: string
                  nullable: true
                  description: >-
                    ULID of the company to attach the contact to. Send null to detach it.
                    A ULID from another workspace returns 404.
      responses:
        '200':
          description: Updated contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }
    delete:
      operationId: deleteContact
      tags: [Contacts]
      summary: Delete a contact (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      responses:
        '204':
          description: Contact deleted
        '403':
          $ref: '#/components/responses/Forbidden'

  /companies:
    get:
      operationId: listCompanies
      tags: [Companies]
      summary: List companies
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: filter[name]
          in: query
          schema: { type: string }
        - name: filter[domain]
          in: query
          schema: { type: string }
        - name: filter[search]
          in: query
          description: Matches the company name or its domain.
          schema: { type: string }
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, created_at, -created_at, contact_count, -contact_count, ticket_count, -ticket_count]
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of companies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanies'
    post:
      operationId: createCompany
      tags: [Companies]
      summary: Create a company
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                domain:
                  type: string
                  nullable: true
                  description: >-
                    Bare hostname, lowercased. Unique per workspace. An email address,
                    a scheme, or a path is rejected.
                phone: { type: string, nullable: true }
                notes: { type: string, nullable: true }
                contact_ulids:
                  type: array
                  description: >-
                    Contacts to attach to the new company. A ULID from another workspace
                    is ignored.
                  items: { type: string }
      responses:
        '201':
          description: Company created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Company' }

  /companies/{company}:
    get:
      operationId: showCompany
      tags: [Companies]
      summary: Show a company
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/CompanyUlid'
      responses:
        '200':
          description: Company
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Company' }
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: updateCompany
      tags: [Companies]
      summary: Update a company
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/CompanyUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                domain:
                  type: string
                  nullable: true
                  description: >-
                    Changing the domain does not move contacts that already exist.
                phone: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated company
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Company' }
    delete:
      operationId: deleteCompany
      tags: [Companies]
      summary: Delete a company
      description: The contacts of the company are kept and simply detached.
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/CompanyUlid'
      responses:
        '204':
          description: Company deleted
        '403':
          $ref: '#/components/responses/Forbidden'

  /tags:
    get:
      operationId: listTags
      tags: [Tags]
      summary: List workspace tags
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Tag' }
    post:
      operationId: createTag
      tags: [Tags]
      summary: Create a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name: { type: string, maxLength: 255 }
                color:
                  type: string
                  pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }

  /tags/{tag}:
    get:
      operationId: showTag
      tags: [Tags]
      summary: Show a tag
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      responses:
        '200':
          description: Tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }
    put:
      operationId: updateTag
      tags: [Tags]
      summary: Update a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name: { type: string }
                color:
                  type: string
                  pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '200':
          description: Updated tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }
    delete:
      operationId: deleteTag
      tags: [Tags]
      summary: Delete a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      responses:
        '204':
          description: Tag deleted

  /channels:
    get:
      operationId: listChannels
      tags: [Channels]
      summary: List accessible channels
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Channel' }

  /channels/{channel}:
    get:
      operationId: showChannel
      tags: [Channels]
      summary: Show a channel
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: channel
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Channel' }

  /teams:
    get:
      operationId: listTeams
      tags: [Teams]
      summary: List workspace teams
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Team' }
    post:
      operationId: createTeam
      tags: [Teams]
      summary: Create a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 255 }
                description: { type: string, nullable: true }
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }

  /teams/{team}:
    get:
      operationId: showTeam
      tags: [Teams]
      summary: Show a team
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    put:
      operationId: updateTeam
      tags: [Teams]
      summary: Update a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    delete:
      operationId: deleteTeam
      tags: [Teams]
      summary: Delete a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Team deleted

  /teams/{team}/members/{user}:
    post:
      operationId: addTeamMember
      tags: [Teams]
      summary: Add a member to a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
        - name: user
          in: path
          required: true
          schema: { type: string }
          description: User ULID.
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    delete:
      operationId: removeTeamMember
      tags: [Teams]
      summary: Remove a member from a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
        - name: user
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Member removed

  /members:
    get:
      operationId: listMembers
      tags: [Members]
      summary: List workspace members
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/User' }

  /members/invite:
    post:
      operationId: inviteMember
      tags: [Members]
      summary: Invite a member (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                role:
                  type: string
                  enum: [admin, member]
                channel_ulids:
                  type: array
                  items: { type: string }
                  description: Optional list of channel ULIDs to scope the member to.
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: integer }
                      ulid: { type: string }
                      email: { type: string }
                      name: { type: string, nullable: true }
                      role: { type: string }
                      invited_at: { type: string, format: date-time }

  /members/{user}:
    delete:
      operationId: removeMember
      tags: [Members]
      summary: Remove a member from the workspace
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: user
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Member removed

  /quick-replies:
    get:
      operationId: listQuickReplies
      tags: [Quick replies]
      summary: List quick replies
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of quick replies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/QuickReply' }
    post:
      operationId: createQuickReply
      tags: [Quick replies]
      summary: Create a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, body]
              properties:
                name: { type: string }
                body: { type: string }
      responses:
        '201':
          description: Quick reply created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }

  /quick-replies/{quickReply}:
    get:
      operationId: showQuickReply
      tags: [Quick replies]
      summary: Show a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Quick reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }
    put:
      operationId: updateQuickReply
      tags: [Quick replies]
      summary: Update a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                body: { type: string }
      responses:
        '200':
          description: Updated quick reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }
    delete:
      operationId: deleteQuickReply
      tags: [Quick replies]
      summary: Delete a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Quick reply deleted

  /saved-views:
    get:
      operationId: listSavedViews
      tags: [Saved views]
      summary: List saved ticket views
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of saved views accessible to the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedView' }
    post:
      operationId: createSavedView
      tags: [Saved views]
      summary: Create a saved ticket view
      description: Personal views are created by default. Set `is_personal` to false to create a workspace-level view (admin only).
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                icon: { type: string, nullable: true }
                is_personal: { type: boolean, default: true }
                search: { type: string, nullable: true }
                statuses:
                  type: array
                  items: { type: string, enum: [open, waiting, closed, spam] }
                  nullable: true
                assigned_to_me: { type: boolean }
                unassigned: { type: boolean }
                assigned_user_ulid: { type: string, nullable: true }
                channel_ulids:
                  type: array
                  items: { type: string }
                tag_ulids:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Saved view created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }

  /saved-views/{savedTicketView}:
    get:
      operationId: showSavedView
      tags: [Saved views]
      summary: Show a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Saved view
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
    put:
      operationId: updateSavedView
      tags: [Saved views]
      summary: Update a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                icon: { type: string, nullable: true }
                search: { type: string, nullable: true }
                statuses:
                  type: array
                  items: { type: string }
                  nullable: true
                assigned_to_me: { type: boolean }
                unassigned: { type: boolean }
                assigned_user_ulid: { type: string, nullable: true }
                channel_ulids:
                  type: array
                  items: { type: string }
                tag_ulids:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Updated saved view
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
    delete:
      operationId: deleteSavedView
      tags: [Saved views]
      summary: Delete a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Saved view deleted

  /workflows:
    get:
      operationId: listWorkflows
      tags: [Workflows]
      summary: List workflows
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Workflow' }
    post:
      operationId: createWorkflow
      tags: [Workflows]
      summary: Create a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, trigger_type]
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
                trigger_type:
                  type: string
                  enum: [on_new_ticket, on_inbound_message, on_no_reply, manual]
                trigger_parameters:
                  type: object
                  nullable: true
                  description: Required for on_no_reply. The unit defaults to hours. Durations are capped at 30 days in total. With only_business_hours, minutes and hours pause outside workspace business hours, and days count business days; fully closed days do not count.
                  properties:
                    value: { type: integer, minimum: 1 }
                    unit: { type: string, enum: [minutes, hours, days], default: hours }
                    only_business_hours: { type: boolean, default: false }
                condition_match_type:
                  type: string
                  enum: [all, any]
                  default: all
                is_enabled:
                  type: boolean
                  default: true
                conditions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowConditionInput'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowActionInput'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }

  /workflows/{workflow}:
    get:
      operationId: showWorkflow
      tags: [Workflows]
      summary: Show a workflow
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Workflow with conditions and actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }
    put:
      operationId: updateWorkflow
      tags: [Workflows]
      summary: Update a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
                trigger_type: { type: string, enum: [on_new_ticket, on_inbound_message, on_no_reply, manual] }
                trigger_parameters:
                  type: object
                  nullable: true
                  description: Required for on_no_reply. The unit defaults to hours. Durations are capped at 30 days in total. With only_business_hours, minutes and hours pause outside workspace business hours, and days count business days; fully closed days do not count.
                  properties:
                    value: { type: integer, minimum: 1 }
                    unit: { type: string, enum: [minutes, hours, days], default: hours }
                    only_business_hours: { type: boolean, default: false }
                condition_match_type: { type: string, enum: [all, any] }
                is_enabled: { type: boolean }
                conditions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowConditionInput'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowActionInput'
      responses:
        '200':
          description: Updated workflow
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }
    delete:
      operationId: deleteWorkflow
      tags: [Workflows]
      summary: Delete a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Workflow deleted

  /brains:
    get:
      operationId: listBrains
      tags: [Brains]
      summary: List brains
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of brains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Brain' }
    post:
      operationId: createBrain
      tags: [Brains]
      summary: Create a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                additional_instructions: { type: string, nullable: true }
      responses:
        '201':
          description: Brain created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }

  /brains/{brain}:
    get:
      operationId: showBrain
      tags: [Brains]
      summary: Show a brain
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '200':
          description: Brain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }
    put:
      operationId: updateBrain
      tags: [Brains]
      summary: Update a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                additional_instructions: { type: string, nullable: true }
      responses:
        '200':
          description: Updated brain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }
    delete:
      operationId: deleteBrain
      tags: [Brains]
      summary: Delete a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '204':
          description: Brain deleted

  /brains/{brain}/articles:
    get:
      operationId: listBrainArticles
      tags: [Brain articles]
      summary: List articles in a brain
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '200':
          description: List of articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BrainArticle' }
    post:
      operationId: createBrainArticle
      tags: [Brain articles]
      summary: Create an article in a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title: { type: string }
                body: { type: string }
                is_public: { type: boolean, default: true }
      responses:
        '201':
          description: Article created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }

  /brains/{brain}/articles/{article}:
    get:
      operationId: showBrainArticle
      tags: [Brain articles]
      summary: Show an article
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Article
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }
    put:
      operationId: updateBrainArticle
      tags: [Brain articles]
      summary: Update an article (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                body: { type: string }
                is_public: { type: boolean }
      responses:
        '200':
          description: Updated article
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }
    delete:
      operationId: deleteBrainArticle
      tags: [Brain articles]
      summary: Delete an article (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Article deleted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Sanctum API token. Generate one from Settings > API Tokens.

  parameters:
    WorkspaceHeader:
      name: X-Workspace-Id
      in: header
      required: false
      schema:
        type: integer
      description: |
        Workspace ID this request targets. Required for tokens that have
        access to multiple workspaces or to all workspaces. Optional for
        tokens scoped to a single workspace (auto-resolved).
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100
    Page:
      name: page
      in: query
      schema: { type: integer, default: 1 }
    TicketUlid:
      name: ticket
      in: path
      required: true
      schema: { type: string }
      description: Ticket ULID.
    ContactUlid:
      name: contact
      in: path
      required: true
      schema: { type: string }
      description: Contact ULID.
    CompanyUlid:
      name: company
      in: path
      required: true
      schema: { type: string }
      description: Company ULID.
    TagUlid:
      name: tag
      in: path
      required: true
      schema: { type: string }
      description: Tag ULID.
    BrainUlid:
      name: brain
      in: path
      required: true
      schema: { type: string }
      description: Brain ULID.

  responses:
    Unauthenticated:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    Forbidden:
      description: Not allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    PendingAttachment:
      type: object
      properties:
        token: { type: string, example: upl_screenshot_8f3c1a }
        filename: { type: string, example: screenshot.png }
        mime_type: { type: string, example: image/png }
        size: { type: integer, example: 84213 }
        expires_at: { type: string, format: date-time }

    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }
        avatar_url: { type: string, nullable: true }
        timezone: { type: string, nullable: true }

    Workspace:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        slug: { type: string }

    Channel:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        type:
          type: string
          enum: [email, widget]
        color: { type: string }
        email_address: { type: string, nullable: true }

    Tag:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        color: { type: string }

    Contact:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string, nullable: true }
        email: { type: string, format: email }
        avatar_url: { type: string, nullable: true }
        company:
          nullable: true
          description: The company this contact belongs to, or null.
          allOf:
            - $ref: '#/components/schemas/ContactCompany'
        ticket_count: { type: integer, nullable: true }
        last_activity_at: { type: string, format: date-time, nullable: true }
        notes: { type: string, nullable: true }

    ContactCompany:
      type: object
      properties:
        ulid: { type: string }
        name: { type: string }
        domain: { type: string, nullable: true }

    Company:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        domain: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        contact_count: { type: integer, nullable: true }
        ticket_count: { type: integer, nullable: true }

    Team:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        logo_url: { type: string, nullable: true }
        member_count: { type: integer }

    QuickReply:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        body: { type: string }

    SavedView:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        slug: { type: string }
        icon: { type: string, nullable: true }
        is_personal: { type: boolean }
        search: { type: string, nullable: true }
        statuses:
          type: array
          items: { type: string }
          nullable: true
        assigned_to_me: { type: boolean }
        unassigned: { type: boolean }
        assigned_user_id: { type: integer, nullable: true }
        channel_ids:
          type: array
          items: { type: integer }
        tag_ids:
          type: array
          items: { type: integer }

    WorkflowConditionInput:
      type: object
      required: [type, parameters]
      properties:
        type:
          type: string
          enum:
            - body_contains
            - channel_is
            - contact_is_new
            - from_domain_equals
            - from_email_contains
            - from_email_equals
            - subject_contains
            - subject_equals
        parameters: { type: object }

    WorkflowActionInput:
      type: object
      required: [type, parameters]
      properties:
        type: { type: string }
        parameters: { type: object }

    Workflow:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        trigger_type:
          type: string
          enum: [on_new_ticket, on_inbound_message, on_no_reply, manual]
        trigger_parameters:
          type: object
          nullable: true
          description: Present for on_no_reply workflows. The unit defaults to hours. Durations are capped at 30 days in total. With only_business_hours, minutes and hours pause outside workspace business hours, and days count business days; fully closed days do not count.
          properties:
            value: { type: integer, minimum: 1, description: 'Duration amount. Combined with unit, capped at 30 days in total.' }
            unit: { type: string, enum: [minutes, hours, days], default: hours }
            only_business_hours: { type: boolean, default: false }
        condition_match_type:
          type: string
          enum: [all, any]
        is_enabled: { type: boolean }
        order_column: { type: integer }
        created_at: { type: string, format: date-time }
        conditions:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              ulid: { type: string }
              type: { type: string }
              parameters: { type: object }
        actions:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              ulid: { type: string }
              type: { type: string }
              parameters: { type: object }

    Brain:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        additional_instructions: { type: string, nullable: true }
        article_count: { type: integer }
        created_at: { type: string, format: date-time }

    BrainArticle:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        brain_id: { type: integer }
        title: { type: string }
        body: { type: string }
        is_public: { type: boolean }
        last_edited_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Message:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        type:
          type: string
          enum: [inbound, outbound, note]
        body_html: { type: string }
        body_text: { type: string, nullable: true }
        sender:
          type: object
          properties:
            id: { type: integer }
            type: { type: string, enum: [contact, user] }
            name: { type: string, nullable: true }
            email: { type: string, nullable: true }
            avatar_url: { type: string, nullable: true }
        attachments:
          type: array
          description: |
            Files sent alongside the message. Fetch `url` (or `download_url`)
            with the same Bearer token, see `GET /attachments/{media}`.
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              url: { type: string, format: uri }
              download_url: { type: string, format: uri }
              size: { type: integer }
              mime_type: { type: string }
        inline_images:
          type: array
          description: |
            Images embedded inside `body_html` (typically bug screenshots
            customers paste into emails). Each item exposes a stable
            `url` matching the `<img src>` in the body, plus a
            `download_url` that forces a file download. Use these URLs
            with the same Bearer token to fetch the binary, see
            `GET /attachments/{media}`.
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              mime_type: { type: string }
              size: { type: integer }
              content_id: { type: string, nullable: true }
              url: { type: string, format: uri }
              download_url: { type: string, format: uri }
        is_forward: { type: boolean }
        send_status: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Activity:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        type: { type: string }
        user:
          oneOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        properties:
          type: object
          nullable: true
        description: { type: string }
        created_at: { type: string, format: date-time }

    Ticket:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        number: { type: integer }
        subject: { type: string }
        status:
          type: string
          enum: [open, waiting, closed, spam]
        channel: { $ref: '#/components/schemas/Channel' }
        assignee:
          oneOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        assigned_team:
          oneOf:
            - $ref: '#/components/schemas/Team'
            - type: 'null'
        contact: { $ref: '#/components/schemas/Contact' }
        tags:
          type: array
          items: { $ref: '#/components/schemas/Tag' }
        custom_fields:
          type: array
          description: >
            Every custom field that applies to this ticket's channel, whether or
            not it holds a value. Returned on GET /tickets/{ticket} and on every
            ticket write response; omitted from the paginated list.
          items: { $ref: '#/components/schemas/TicketCustomField' }
        latest_message_preview: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        title: { type: string, nullable: true }
        from_address: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        last_activity_at: { type: string, format: date-time }

    CustomFieldDefinition:
      type: object
      properties:
        ulid: { type: string }
        name: { type: string, example: Billable }
        type:
          type: string
          enum: [text, single_select, multi_select]
        all_channels:
          type: boolean
          description: When true the field applies to every channel and channel_ulids is empty.
        channel_ulids:
          type: array
          items: { type: string }
        options:
          type: array
          items: { $ref: '#/components/schemas/TicketCustomFieldOption' }

    TicketCustomField:
      type: object
      properties:
        ulid: { type: string }
        name: { type: string, example: Reported version }
        type:
          type: string
          enum: [text, single_select, multi_select]
        value:
          type: string
          nullable: true
          description: Set for text fields only; null for the two select types.
        selected_option_ulids:
          type: array
          items: { type: string }
          description: Empty for text fields and for select fields with no value.
        options:
          type: array
          description: The options an admin defined, in the order they arranged them. Empty for text fields.
          items: { $ref: '#/components/schemas/TicketCustomFieldOption' }

    TicketCustomFieldOption:
      type: object
      properties:
        ulid: { type: string }
        name: { type: string, example: Laravel }
        color: { type: string, nullable: true, example: '#FCA5A5' }
        icon: { type: string, nullable: true, example: flame }

    TicketDetail:
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            messages:
              type: array
              items: { $ref: '#/components/schemas/Message' }
            activities:
              type: array
              items: { $ref: '#/components/schemas/Activity' }

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }

    PaginationLinks:
      type: object
      properties:
        first: { type: string, nullable: true }
        last: { type: string, nullable: true }
        prev: { type: string, nullable: true }
        next: { type: string, nullable: true }

    PaginatedTickets:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Ticket' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }

    PaginatedContacts:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Contact' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }

    PaginatedCompanies:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Company' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }

    PaginatedActivities:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Activity' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }
