openapi: 3.1.0
info:
  title: There There API
  description: |
    REST API for There There, the AI-powered helpdesk. All endpoints require
    authentication via a Sanctum bearer token, and most require the
    `X-Workspace-Id` header to identify which workspace the request targets.

    Responses follow a consistent shape: single resources are returned under a
    `data` key; collections return `data` alongside `meta` and `links` for
    pagination.
  version: 1.0.0

servers:
  - url: https://there-there.app/api
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Me
  - name: Tickets
  - name: Ticket messages
  - name: Ticket tags
  - name: Ticket activities
  - name: Contacts
  - name: Tags
  - name: Channels
  - name: Teams
  - name: Members
  - name: Quick replies
  - name: Saved views
  - name: Workflows
  - name: Brains
  - name: Brain articles

paths:
  /me:
    get:
      tags: [Me]
      summary: Get authenticated user and workspace
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: The current user and workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      workspace:
                        $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /tickets:
    get:
      tags: [Tickets]
      summary: List tickets
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: filter[status]
          in: query
          schema: { type: string }
          description: Comma-separated status values (open, waiting, closed, spam).
        - name: filter[tag_ids]
          in: query
          schema: { type: string }
          description: Comma-separated tag IDs.
        - name: filter[channel_ids]
          in: query
          schema: { type: string }
          description: Comma-separated channel IDs.
        - name: filter[assigned_to_me]
          in: query
          schema: { type: boolean }
        - name: filter[unassigned]
          in: query
          schema: { type: boolean }
        - name: filter[assigned_user_id]
          in: query
          schema: { type: integer }
        - name: filter[search]
          in: query
          schema: { type: string }
          description: Full-text search across subject, messages, and contact info.
        - name: q
          in: query
          schema: { type: string }
          description: Semantic search (requires AI to be enabled).
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, -created_at, updated_at, -updated_at, last_activity_at, -last_activity_at]
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTickets'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      tags: [Tickets]
      summary: Create a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel, subject, from_contact, message]
              properties:
                channel:
                  type: string
                  description: Channel ULID.
                subject:
                  type: string
                  maxLength: 255
                from_contact:
                  type: object
                  required: [email]
                  properties:
                    email: { type: string, format: email }
                    name: { type: string, nullable: true }
                message:
                  type: object
                  required: [body]
                  properties:
                    body:
                      type: string
                      description: HTML body of the first message.
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
        '422':
          $ref: '#/components/responses/ValidationError'

  /tickets/{ticket}:
    get:
      tags: [Tickets]
      summary: Show a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      responses:
        '200':
          description: Ticket with messages and activities
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TicketDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tickets/{ticket}/status:
    put:
      tags: [Tickets]
      summary: Change ticket status
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, waiting, closed, spam]
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/assignee:
    put:
      tags: [Tickets]
      summary: Assign a user to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_id:
                  type: integer
                  nullable: true
                  description: User ID, or null to unassign.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/team:
    put:
      tags: [Tickets]
      summary: Assign a team to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                team_id:
                  type: integer
                  nullable: true
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'

  /tickets/{ticket}/reply:
    post:
      tags: [Ticket messages]
      summary: Reply to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
                to_recipients:
                  type: array
                  items: { type: string, format: email }
                cc_recipients:
                  type: array
                  items: { type: string, format: email }
                bcc_recipients:
                  type: array
                  items: { type: string, format: email }
      responses:
        '201':
          description: Message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/forward:
    post:
      tags: [Ticket messages]
      summary: Forward a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body, to_recipients]
              properties:
                body: { type: string }
                to_recipients:
                  type: array
                  minItems: 1
                  items: { type: string, format: email }
                cc_recipients:
                  type: array
                  items: { type: string, format: email }
                bcc_recipients:
                  type: array
                  items: { type: string, format: email }
                forwarded_from_message_id:
                  type: integer
                  nullable: true
      responses:
        '201':
          description: Forward message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/note:
    post:
      tags: [Ticket messages]
      summary: Add an internal note
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '201':
          description: Note message created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Message'

  /tickets/{ticket}/tags/{tag}:
    post:
      tags: [Ticket tags]
      summary: Add a tag to a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - name: tag
          in: path
          required: true
          schema: { type: string }
          description: Tag ULID.
      responses:
        '200':
          description: Updated ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ticket'
    delete:
      tags: [Ticket tags]
      summary: Remove a tag from a ticket
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - name: tag
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Tag removed

  /tickets/{ticket}/activities:
    get:
      tags: [Ticket activities]
      summary: List ticket activities
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TicketUlid'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivities'

  /contacts:
    get:
      tags: [Contacts]
      summary: List contacts
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: filter[name]
          in: query
          schema: { type: string }
        - name: filter[email]
          in: query
          schema: { type: string }
        - name: filter[search]
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, -name, created_at, -created_at, last_activity, -last_activity]
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Paginated list of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedContacts'
    post:
      tags: [Contacts]
      summary: Create a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '201':
          description: Contact created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }

  /contacts/{contact}:
    get:
      tags: [Contacts]
      summary: Show a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      responses:
        '200':
          description: Contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }
    put:
      tags: [Contacts]
      summary: Update a contact
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                notes: { type: string, nullable: true }
      responses:
        '200':
          description: Updated contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Contact' }
    delete:
      tags: [Contacts]
      summary: Delete a contact (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/ContactUlid'
      responses:
        '204':
          description: Contact deleted
        '403':
          $ref: '#/components/responses/Forbidden'

  /tags:
    get:
      tags: [Tags]
      summary: List workspace tags
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Tag' }
    post:
      tags: [Tags]
      summary: Create a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name: { type: string, maxLength: 255 }
                color:
                  type: string
                  pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }

  /tags/{tag}:
    get:
      tags: [Tags]
      summary: Show a tag
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      responses:
        '200':
          description: Tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }
    put:
      tags: [Tags]
      summary: Update a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name: { type: string }
                color:
                  type: string
                  pattern: '^#[0-9a-fA-F]{6}$'
      responses:
        '200':
          description: Updated tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Tag' }
    delete:
      tags: [Tags]
      summary: Delete a tag (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/TagUlid'
      responses:
        '204':
          description: Tag deleted

  /channels:
    get:
      tags: [Channels]
      summary: List accessible channels
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Channel' }

  /channels/{channel}:
    get:
      tags: [Channels]
      summary: Show a channel
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: channel
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Channel' }

  /teams:
    get:
      tags: [Teams]
      summary: List workspace teams
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Team' }
    post:
      tags: [Teams]
      summary: Create a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 255 }
                description: { type: string, nullable: true }
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }

  /teams/{team}:
    get:
      tags: [Teams]
      summary: Show a team
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    put:
      tags: [Teams]
      summary: Update a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    delete:
      tags: [Teams]
      summary: Delete a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Team deleted

  /teams/{team}/members/{user}:
    post:
      tags: [Teams]
      summary: Add a member to a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
        - name: user
          in: path
          required: true
          schema: { type: string }
          description: User ULID.
      responses:
        '200':
          description: Updated team
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Team' }
    delete:
      tags: [Teams]
      summary: Remove a member from a team (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: team
          in: path
          required: true
          schema: { type: string }
        - name: user
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Member removed

  /members:
    get:
      tags: [Members]
      summary: List workspace members
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/User' }

  /members/invite:
    post:
      tags: [Members]
      summary: Invite a member (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string, format: email }
                name: { type: string, nullable: true }
                role:
                  type: string
                  enum: [admin, member]
                channel_ids:
                  type: array
                  items: { type: integer }
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: integer }
                      email: { type: string }
                      name: { type: string, nullable: true }
                      role: { type: string }
                      invited_at: { type: string, format: date-time }

  /members/{user}:
    delete:
      tags: [Members]
      summary: Remove a member from the workspace
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: user
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Member removed

  /quick-replies:
    get:
      tags: [Quick replies]
      summary: List quick replies
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of quick replies
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/QuickReply' }
    post:
      tags: [Quick replies]
      summary: Create a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, body]
              properties:
                name: { type: string }
                body: { type: string }
      responses:
        '201':
          description: Quick reply created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }

  /quick-replies/{quickReply}:
    get:
      tags: [Quick replies]
      summary: Show a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Quick reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }
    put:
      tags: [Quick replies]
      summary: Update a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                body: { type: string }
      responses:
        '200':
          description: Updated quick reply
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/QuickReply' }
    delete:
      tags: [Quick replies]
      summary: Delete a quick reply
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: quickReply
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Quick reply deleted

  /saved-views:
    get:
      tags: [Saved views]
      summary: List saved ticket views
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of saved views accessible to the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedView' }
    post:
      tags: [Saved views]
      summary: Create a saved ticket view
      description: Personal views are created by default. Set `is_personal` to false to create a workspace-level view (admin only).
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                icon: { type: string, nullable: true }
                is_personal: { type: boolean, default: true }
                search: { type: string, nullable: true }
                statuses:
                  type: array
                  items: { type: string, enum: [open, waiting, closed, spam] }
                  nullable: true
                assigned_to_me: { type: boolean }
                unassigned: { type: boolean }
                assigned_user_id: { type: integer, nullable: true }
                channel_ids:
                  type: array
                  items: { type: integer }
                tag_ids:
                  type: array
                  items: { type: integer }
      responses:
        '201':
          description: Saved view created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }

  /saved-views/{savedTicketView}:
    get:
      tags: [Saved views]
      summary: Show a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Saved view
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
    put:
      tags: [Saved views]
      summary: Update a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                icon: { type: string, nullable: true }
                search: { type: string, nullable: true }
                statuses:
                  type: array
                  items: { type: string }
                  nullable: true
                assigned_to_me: { type: boolean }
                unassigned: { type: boolean }
                assigned_user_id: { type: integer, nullable: true }
                channel_ids:
                  type: array
                  items: { type: integer }
                tag_ids:
                  type: array
                  items: { type: integer }
      responses:
        '200':
          description: Updated saved view
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/SavedView' }
    delete:
      tags: [Saved views]
      summary: Delete a saved view
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: savedTicketView
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Saved view deleted

  /workflows:
    get:
      tags: [Workflows]
      summary: List workflows
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Workflow' }
    post:
      tags: [Workflows]
      summary: Create a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, trigger_type]
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
                trigger_type:
                  type: string
                  enum: [automatic, manual]
                condition_match_type:
                  type: string
                  enum: [all, any]
                  default: all
                is_enabled:
                  type: boolean
                  default: true
                conditions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowConditionInput'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowActionInput'
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }

  /workflows/{workflow}:
    get:
      tags: [Workflows]
      summary: Show a workflow
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Workflow with conditions and actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }
    put:
      tags: [Workflows]
      summary: Update a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string, nullable: true }
                trigger_type: { type: string, enum: [automatic, manual] }
                condition_match_type: { type: string, enum: [all, any] }
                is_enabled: { type: boolean }
                conditions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowConditionInput'
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowActionInput'
      responses:
        '200':
          description: Updated workflow
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Workflow' }
    delete:
      tags: [Workflows]
      summary: Delete a workflow (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - name: workflow
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Workflow deleted

  /brains:
    get:
      tags: [Brains]
      summary: List brains
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      responses:
        '200':
          description: List of brains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Brain' }
    post:
      tags: [Brains]
      summary: Create a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                additional_instructions: { type: string, nullable: true }
      responses:
        '201':
          description: Brain created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }

  /brains/{brain}:
    get:
      tags: [Brains]
      summary: Show a brain
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '200':
          description: Brain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }
    put:
      tags: [Brains]
      summary: Update a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                additional_instructions: { type: string, nullable: true }
      responses:
        '200':
          description: Updated brain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Brain' }
    delete:
      tags: [Brains]
      summary: Delete a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '204':
          description: Brain deleted

  /brains/{brain}/articles:
    get:
      tags: [Brain articles]
      summary: List articles in a brain
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      responses:
        '200':
          description: List of articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BrainArticle' }
    post:
      tags: [Brain articles]
      summary: Create an article in a brain (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title: { type: string }
                body: { type: string }
                is_public: { type: boolean, default: true }
      responses:
        '201':
          description: Article created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }

  /brains/{brain}/articles/{article}:
    get:
      tags: [Brain articles]
      summary: Show an article
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Article
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }
    put:
      tags: [Brain articles]
      summary: Update an article (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                body: { type: string }
                is_public: { type: boolean }
      responses:
        '200':
          description: Updated article
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/BrainArticle' }
    delete:
      tags: [Brain articles]
      summary: Delete an article (admin only)
      parameters:
        - $ref: '#/components/parameters/WorkspaceHeader'
        - $ref: '#/components/parameters/BrainUlid'
        - name: article
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Article deleted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Sanctum API token. Generate one from Settings > API Tokens.

  parameters:
    WorkspaceHeader:
      name: X-Workspace-Id
      in: header
      required: false
      schema:
        type: integer
      description: |
        Workspace ID this request targets. Required for tokens that have
        access to multiple workspaces or to all workspaces. Optional for
        tokens scoped to a single workspace (auto-resolved).
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 25
        maximum: 100
    Page:
      name: page
      in: query
      schema: { type: integer, default: 1 }
    TicketUlid:
      name: ticket
      in: path
      required: true
      schema: { type: string }
      description: Ticket ULID.
    ContactUlid:
      name: contact
      in: path
      required: true
      schema: { type: string }
      description: Contact ULID.
    TagUlid:
      name: tag
      in: path
      required: true
      schema: { type: string }
      description: Tag ULID.
    BrainUlid:
      name: brain
      in: path
      required: true
      schema: { type: string }
      description: Brain ULID.

  responses:
    Unauthenticated:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    Forbidden:
      description: Not allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }
        avatar_url: { type: string, nullable: true }
        timezone: { type: string, nullable: true }

    Workspace:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        slug: { type: string }

    Channel:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        type:
          type: string
          enum: [email, widget]
        color: { type: string }
        email_address: { type: string, nullable: true }

    Tag:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        color: { type: string }

    Contact:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string, nullable: true }
        email: { type: string, format: email }
        avatar_url: { type: string, nullable: true }
        ticket_count: { type: integer, nullable: true }
        last_activity_at: { type: string, format: date-time, nullable: true }
        notes: { type: string, nullable: true }

    Team:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        logo_url: { type: string, nullable: true }
        member_count: { type: integer }

    QuickReply:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        body: { type: string }

    SavedView:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        slug: { type: string }
        icon: { type: string, nullable: true }
        is_personal: { type: boolean }
        search: { type: string, nullable: true }
        statuses:
          type: array
          items: { type: string }
          nullable: true
        assigned_to_me: { type: boolean }
        unassigned: { type: boolean }
        assigned_user_id: { type: integer, nullable: true }
        channel_ids:
          type: array
          items: { type: integer }
        tag_ids:
          type: array
          items: { type: integer }

    WorkflowConditionInput:
      type: object
      required: [type, parameters]
      properties:
        type:
          type: string
          enum:
            - body_contains
            - channel_is
            - contact_is_new
            - from_domain_equals
            - from_email_contains
            - from_email_equals
            - subject_contains
            - subject_equals
        parameters: { type: object }

    WorkflowActionInput:
      type: object
      required: [type, parameters]
      properties:
        type: { type: string }
        parameters: { type: object }

    Workflow:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        trigger_type:
          type: string
          enum: [automatic, manual]
        condition_match_type:
          type: string
          enum: [all, any]
        is_enabled: { type: boolean }
        order_column: { type: integer }
        created_at: { type: string, format: date-time }
        conditions:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              ulid: { type: string }
              type: { type: string }
              parameters: { type: object }
        actions:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              ulid: { type: string }
              type: { type: string }
              parameters: { type: object }

    Brain:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        name: { type: string }
        additional_instructions: { type: string, nullable: true }
        article_count: { type: integer }
        created_at: { type: string, format: date-time }

    BrainArticle:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        brain_id: { type: integer }
        title: { type: string }
        body: { type: string }
        is_public: { type: boolean }
        last_edited_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Message:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        type:
          type: string
          enum: [inbound, outbound, note]
        body_html: { type: string }
        body_text: { type: string, nullable: true }
        sender:
          type: object
          properties:
            id: { type: integer }
            type: { type: string, enum: [contact, user] }
            name: { type: string, nullable: true }
            email: { type: string, nullable: true }
            avatar_url: { type: string, nullable: true }
        attachments:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              url: { type: string, format: uri }
              size: { type: integer }
              mime_type: { type: string }
        is_forward: { type: boolean }
        send_status: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Activity:
      type: object
      properties:
        id: { type: integer }
        type: { type: string }
        user:
          oneOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        properties:
          type: object
          nullable: true
        description: { type: string }
        created_at: { type: string, format: date-time }

    Ticket:
      type: object
      properties:
        id: { type: integer }
        ulid: { type: string }
        number: { type: integer }
        subject: { type: string }
        status:
          type: string
          enum: [open, waiting, closed, spam]
        channel: { $ref: '#/components/schemas/Channel' }
        assignee:
          oneOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        assigned_team:
          oneOf:
            - $ref: '#/components/schemas/Team'
            - type: 'null'
        contact: { $ref: '#/components/schemas/Contact' }
        tags:
          type: array
          items: { $ref: '#/components/schemas/Tag' }
        latest_message_preview: { type: string, nullable: true }
        summary: { type: string, nullable: true }
        title: { type: string, nullable: true }
        from_address: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        last_activity_at: { type: string, format: date-time }

    TicketDetail:
      allOf:
        - $ref: '#/components/schemas/Ticket'
        - type: object
          properties:
            messages:
              type: array
              items: { $ref: '#/components/schemas/Message' }
            activities:
              type: array
              items: { $ref: '#/components/schemas/Activity' }

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }

    PaginationLinks:
      type: object
      properties:
        first: { type: string, nullable: true }
        last: { type: string, nullable: true }
        prev: { type: string, nullable: true }
        next: { type: string, nullable: true }

    PaginatedTickets:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Ticket' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }

    PaginatedContacts:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Contact' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }

    PaginatedActivities:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Activity' }
        meta: { $ref: '#/components/schemas/PaginationMeta' }
        links: { $ref: '#/components/schemas/PaginationLinks' }
